body {
    font-weight: bold;
    font-family: sans-serif;
    background-image: linear-gradient(to right, #1a1a1a, #242424, #3d3d3d, #878787);
}

.dpresentation {
    width: 100%;
    height: auto;
}

.nmove {
    width: 40%;
    margin: auto;
    text-align: center;
}

.nmove h2 {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px 5px;
    color: brown;
    font-size: 13px;
    border-radius: 10px;
}

.nmove div img {
    width: auto;
    height: 100px;
    border-radius: 50%;
    border:3px solid brown;
}

.move{
    width: 100%;
    margin: auto;
    text-align: center;
}

.move div {    
    display: inline-block;
}

.btnhide{
    opacity: 0;
    pointer-events: none;
}

.move_top {
    width: 75%;
    margin: auto;
}

.move_top div {
    width: 90%;
    margin: auto;
    display: none;
    font-size: 13px;
    color: #878787;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #1a1a1a;
    padding: 10px 10px;
    border-radius: 10px;
    transition: all .3s linear;
}

.is-visible {
    display: block !important;
}
  
.is-open {
    width: 91% !important;
    padding: 12px 10px !important;
    opacity: 1;
}

.nmove_bottom div{
    position: fixed;
}

.nmove_bottom div button{
    width: auto;
    padding: 20px 30px;
    font-size: 30px;
    border-radius: 20px;
}

#previous {
    width: 10%;
    text-align: center;
}

#previous button{
    width: 100%;
    font-weight: bold;
    color: #878787;
    background-color: transparent;
    border: 0px;
}

#next {
    width: 10%;
    text-align: center;
}

#next button{
    width: 100%;
    font-weight: bold;
    color: #1a1a1a;
    background-color: transparent;
    border: 0px;
}